@import '../../../Constant/color.scss';

.searchbar-page {
    &_container {
        display: flex;
        background-color: $input-bg;
        width: 40rem;
        height: 5rem;
        padding: 1.5rem;
        border-radius: 5px;

    }

    .search-icon {
        width: 2rem;
        height: 2rem;
    }

    .search-field {
        width: 34rem;
        height: 5rem;
        background: none;
        border: none;
        outline: none;
        margin: -1.5rem 0 0 0;
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    @media screen and (min-width:300px) and (max-width:768px) {
        &_container {
            margin-top: 5rem;
            width: 36.3rem;
        }


    }
}