$black: #000000;
$studio-background: #120E16;
$white: #ffff;
$dyt-logbox: #1C1721;
$border-gradient1 : #8852CE;
$border-gradient2 : #FFB800;
$blue: #00A3FF;


$log-text: #D2CAD8;
$input-bg: #443B4E;
$review: #1C1721;

$studio-primary: #8852CE;
$studio-secondary: #2F9201;
$sub-text: #B3ABBA;
$warning-text: #FFB800;
$field-background: #9E9C9C;
$text-secondary: #D9D9D9;

$font-family: 'Open Sans';
$font-style: 'normal';